%h1
  = t.app.search.index_stats_title
.search-index-info
  - @results.each do |name, results|
    %h2.plugin-name #{name}
    %pre.search-index-stats
      -# FIXME: format results
      #{results.inspect}
